<html>
<head>
    <body>
<center>
    <br><br><br><br>
    <a href="{% url 'BalanceEnquiry' %}" style="font-size: xxx-large" >Balance Enquiry</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'Deposite' %}" style="font-size: xxx-large" >Deposite</a>
    <br><br><hr><br><br><br><br>
    <a href="{% url 'Withdrawl' %}" style="font-size: xxx-large" >Withdrawl</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'TransferMoney' %}" style="font-size: xxx-large" >Transfer Money </a>
    <br><br><hr><br><br><br><br>
    <a href="{% url 'TransectionDetails' %}" style="font-size: xxx-large" >Transection Details</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'ViewProfile' %}" style="font-size: xxx-large" >View Profile</a>
</center>
</body>
</head>
</html>