<html>
<head>
<body>
<center>
    <a href="{% url 'CreateAccount' %}" style="font-size: xx-large">Create an account</a>
    <br><br>
    <a href="{% url 'banklogin' %}" style="font-size: xx-large">Login</a>
    <div>
        <h2>
            The essential function of a bank is to receive deposits.
            Theses deposits are received as fixed deposits- which have a limited time frame,
            current deposits-
            require no interests and are framed mainly for business
            people and savings bank deposits to encourage savings with a 5 percent interest rate.
            Another primary function of a bank is to
            lend money through cash credits or loans,
            overdrafts, or discounting bills. The banks usually charge a
            higher interest rate while giving money.
        </h2>
        <h2>
            A bank helps people cultivate the habit of saving and provides safe custody.
            It collects bills, drafts, cheques, and grants credit facilities and loans to people.
            It facilitates making payments and secures the overdrafts and loans.
            A bank also provides safe custody of valuables such as deeds,
            ornaments, documents, jewels, etc. It also sells and purchases stocks, shares, etc.
            A bank is essential as it provides Credit information
            and a Letter of Credit and acts as representatives and makes correspondence.
        </h2>
    </div>
    <br><br>
    <a href="{% url 'logout' %}" style="font-size: xx-large">Logout</a>
</center>
</body>
</head>
</html>